body{
  background-image:url("hpb.jpg");
  background-color:black;
}
.b{
  border: 3px solid white;
  position:relative;
  margin:170px auto;
  height:400px;
  width:400px;
  background-image:url("http://1.bp.blogspot.com/-jHjIdEmi63k/T3fx8QKJuXI/AAAAAAAAEbY/ZoVmKSoPQek/s1600/lou's+rose+frame.png");
  background-position:center;
  background-size:380px;
  background-repeat: no-repeat; 
  background-color:cyan;
}
.p1{
  position:absolute;
  margin: 82px;
  color:black;
  font-size:15px;
  font-weight:bold;
  font-style: oblique;
  /*text-shadow: 2px 2px white;8*/
}
.p2{
  position:absolute;
  margin: 70px;
  color:black;
  font-size:15px;
  font-weight:bold;
  font-style: Helvetica;
  /*text-shadow: 2px 2px white;*/
}
